doctype html
html
	head
		title Thrifty Threesome Thriller
		script(src='./lib/requirejs/require.js')
		script.
			requirejs.config({
				baseUrl: 'lib',
				paths: {howler: 'howler/howler.min', msl: 'msl/dist'}
			})
			require([ "../script/main" ])

		link(rel='stylesheet' href='./style/index.css')
	body
		#main
			#game
			table#hud
				tr
					td#scoreTd
						span.word Score
						span.num#score
					td#timeTd
						span.word Time
						span.num#time
					td
						i#mute(class='fa fa-volume-up')
					td
						button#help Help
					td
						button#hint Hint

		#about(style='position:relative')
			a(href='//github.com/andy-hanson/thrifty-threesome-thriller')
				img(
					style='position: absolute; top: 0; right: 0'
					src='//github-camo.global.ssl.fastly.net/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67'
					alt='Fork me on GitHub'
					data-canonical-src='//s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png')
			| Each card has <b>4</b> attributes, each of which has <b>3</b> possibilities:
			table
				tr
					td.attr Shape
					td.attrv Square, circle, triangle
				tr
					td.attr Color
					td.attrv Orange, green, purple
				tr
					td.attr Shade
					td.attrv Outline, stripe, fill
				tr
					td.attr Number
					td.attrv 1, 2, 3
			p Click on <b>3</b> cards.
			p For each attribute, that attribute must be the <i>same</i> for all, or <i>different</i> for all.
			ul
				li
					span.set 1 2 3
					| is OK — each attribute is <i>different</i>.
				li
					span.set 1 1 1
					| is OK — each attribute is the <i>same</i>.
				li
					span.set 1 1 2
					| is bad — they are not <i>all</i> the same or <i>all</i> different.

			#signature
				a(href='//andy-hanson.me') #[img(src='//andy-hanson.me/signature.svg')]
